/* Google Font 字型匯入 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Noto Sans TC', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%; // 圖片最大寬度 100%
  height: auto;    // 圖片高度自適應
  display: block;  // 轉為區塊元素，能清除圖片下方約 2px 空隙
}

*,
*::before,
*::after {
  // 全域 box-sizing 設定
  box-sizing: border-box;
  // outline: 1px solid #000; // 切版時，方便看版面區塊使用
}
