@import "@/styles/variable";

.hover-opacity {
  transition: opacity $transition-base;
  &:hover,
  &:focus {
    opacity: $opacity-base;
  }
}

.hover-scale {
  transition: transform $transition-base;
  &:hover,
  &:focus {
    transform: scale($scale-base);
  }
}
